/* Header */
.header {
	background-color: rgb(4, 17, 61);
	color: rgb(132, 197, 235);
	padding: 3em;
	text-align: center;
  }
  
  .header nav ul {
	list-style: none;
	padding: 0;
  }
  
  .header nav ul li {
	display: inline;
	margin-right: 2em;
  }
  