<!-- Fragmento para el mapa en index.html -->
<section id="ubicacion" class="mapa">
    <h2>Encuéntranos en:</h2>
    <div id="mapa"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3287.2611928262727!2d-58.74647852452889!3d-34.52160995316607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc971d10941287%3A0x147a9b8f3213f712!2sUNPAZ%20Sede%20Rectorado!5e0!3m2!1ses-419!2sar!4v1731022511839!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <!-- Falta agregar el iframe que contiene el mapa -->
   

</section>